:root {
    --header-bg-col-1: rgb(40, 40, 80);
    --header-bg-col-2: rgb(200, 200, 240)
    --header-text-col: white;

    --navbar-bg-col: rgb(181, 181, 239);
    --navbar-hover-col: rgb(121, 121, 179);

    --main-content-bg: rgb(241, 241, 241);
    --main-content-fg: white;
}

* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    align-content: center;
    height:200px;
    font-size: 2rem;
    background: linear-gradient(135deg, rgb(181, 181, 239),gray);
    color: var(--header-text-col)
}

.navbar {
    list-style: none;
    clear: both;
    display: flex;
    align-content: left;
    background-color: var(--navbar-bg-col);
}

.nav-item {
    height: 3rem;
    width: 8rem;
}

.nav-link {
    /* Set BG color locally for brightness filter */
    background-color: var(--navbar-bg-col);

    /* ALIGNMENT (NO TOUCHY) */
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;

    /* FONT PROPERTIES */
    color: black;
    font-weight: bold;
}

.nav-link:hover {
    cursor: pointer;
    background-color: var(--navbar-hover-col);
}

.center-text {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.main-content {
    /* display: unset; */
    clear: both;
    width: auto;
    height: 100%;
    background-color: var(--main-content-bg);
    padding: 5px;
}

.display-area {
    margin: 10px;
    padding: 10px;
    background-color: var(--main-content-fg);
}


.progress {
    flex: 1;
    background: white;
    padding: 55px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 180px;

  }

  .content-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .intro{
    flex: 1;
    background: white;
    padding:80px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-left: -50px;
  }
  .posts{
    flex: 1;
    background: white;
    padding:80px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-right: -50px; 
  }
  .selection {
    flex: 1;
    background: white;
    padding: 55px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-left: 180px;
    margin-right: 180px;
  }

  .content-box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .intro2{
    flex: 1;
    background: white;
    padding:80px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-right: 2px;
    margin-left: -50px;
  }
  .posts2{
    flex: 1;
    background: white;
    padding:80px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-right: -50px;
  }