:root {
    --navbar-bg-col: rgb(240, 240, 240);
    --navbar-hover-brightness: 70%;
}

* {
    padding: 0;
    margin: 0;
}


.navbar {
    list-style: none;
    clear: both;
    display: flex;
    align-content: left;
    background-color: var(--navbar-bg-col);
}

.nav-item {
    height: 3rem;
    width: 8rem;
}

.nav-link {
    /* Set BG color locally for brightness filter */
    background-color: var(--navbar-bg-col);

    /* ALIGNMENT (NO TOUCHY) */
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;

    /* FONT PROPERTIES */
    color: black;
    font-weight: bold;
}

.nav-link:hover {
    cursor: pointer;
    filter: brightness(var(--navbar-hover-brightness));
}

.center-text {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.main-content {
    /* display: unset; */
    clear: both;
    width: auto;
    height: 100%;
    background-color: var(--navbar-bg-col);
    filter: brightness(90%);
    padding: 5px;
}

.display-area {
    margin: 10px;
    padding: 10px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}