* {
    padding: 0;
    margin: 0;
}


.navbar {
    list-style: none;
    padding: 10px;
    background-color: blue;
}

.nav-item {
    display: inline;
    margin: 5px;
}

.nav-link {
    border-radius: 5px;
    border: none;
}

.nav-link:hover {
    cursor: pointer;
}