* {
    padding: 0;
    margin: 0;
}


.navbar {
    list-style: none;
    background-color: gainsboro;
}

.nav-item {
    display: inline-block;
    height: 3rem;
    width: 6rem;
}

.nav-link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.nav-link:hover {
    cursor: pointer;
    background-color: gray;
}