* {
    padding: 0;
    margin: 0;
}


.navbar {
    list-style: none;
    background-color: gainsboro;
    clear: both;
    display: flex;
    align-content: left;
}

.nav-item {
    height: 3rem;
    width: 8rem;
}

.nav-link {
    /* ALIGNMENT (NO TOUCHY) */
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;

    /* FONT PROPERTIES */
    color: black;
    font-weight: bold;
}

.nav-link:hover {
    cursor: pointer;
    background-color: gray;
}

.center-text {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}