:root {
  --header-bg-col-1: rgb(35, 50, 103);    
  --header-bg-col-2: rgb(80, 110, 190);   
  --header-text-col: white;

  --navbar-bg-col: rgb(85, 106, 169);     
  --navbar-hover-col: rgb(70, 100, 170);  

  --main-content-bg: rgb(225, 230, 245); 
  --card-bg: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-content-bg);
  color: #222;
}

header {
  text-align: center;
  height: 200px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--header-bg-col-1), var(--header-bg-col-2));
  color: var(--header-text-col);
}

.navbar {
  list-style: none;
  display: flex;
  background-color: var(--navbar-bg-col);
  padding: 0 20px;
}

.nav-item {
  height: 3rem;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-weight: bold;
  color: #111;
  padding: 0 20px;
  text-decoration: none;

  transition: 0.2s ease;
}

.nav-link:hover {
  background-color: var(--navbar-hover-col);
  cursor: pointer;
}

.main-content {
  padding: 20px;
  min-height: 100vh;
}

.card {
  background: var(--card-bg);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 40px;
}

.content-box,
.content-box2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.progress {
  background: var(--card-bg);
  padding: 55px;
}

.selection {
  flex: 1;
  background: var(--card-bg);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 50px;
}

.selection {
  text-align: left;
}


.level-btn {
  flex: 1;
  padding: 50px 20px;
  background: rgb(112, 155, 211);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.level-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background: rgb(230, 240, 255);
}

/* Click animation */
.level-btn:active {
  transform: scale(0.97);
}