:root {
    --console-height: 80px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: right gray;
}

main {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.container-2 {
    position: relative;
}

.editor-area {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.navbar {
    display: inline-block;
    margin-left: 3px;
}

.navbar li {
    display: inline-block;
    width: 150px;
    height: 30px;
}

.navbar li button {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    border-radius: 5px 5px 0px 0px;
    border-style: none;
}

.navbar li button:hover {
    cursor: pointer;
}

/* Different Editor Areas */

.description {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: top;
    display: flex;
    justify-content: center;
}

.console {
    color: white;
    background-color: blue;
    width: 100%;
    height: 100%;
    position: absolute;
}

.editor {
    flex: 1;                   
    background-color: #1b5e20;  
    color: black;               
    display: flex;             
    align-items: center;       
    justify-content: center;    
    font-size: 1.2em;          
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
  }