:root {
    --console-height: 80px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.container-2 {
    display: grid;
    grid-template-rows: 30px;
}

.container-3 {
    position: relative;
}

.editor-area {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.navbar {
    display: inline-block;
    margin-left: 3px;
}

.navbar li {
    display: inline-block;
    width: 150px;
    height: 30px;
}

.navbar li button {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    border-radius: 5px 5px 0px 0px;
    border-style: none;
}

.navbar li button:hover {
    cursor: pointer;
}

/* Different Editor Areas */

.description {
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
}

.console {
    color: white;
    background-color: blue;
    width: 100%;
    height: 100%;
    position: absolute;
}

.editor {
    background-color: green;
    position: relative;
    display: grid;
    grid-template-columns: 20px 1fr;
}

/* Editor Text Area */
.editor-input {
    border-style: none;
    border-radius: 0;
    resize: none;
    font-size: 20px;
}

.editor-input:focus {
    outline-style: none;
}