:root {
    --console-height: 80px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.container-1 {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
}

.description {
    background-color: red;
    width: 100%;
    height: 100%;
}

.editor-area {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.editor {
    background-color: green;
    height: 100%;
}

.console {
    color: white;
    background-color: blue;
    position: relative;
    width: 100%;
    top: calc(var(--console-height) * -1);
    height: var(--console-height);
}